<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Zyan.Examples.Linq.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Zyan.Examples.Linq.Server.Properties.Settings>
			<setting name="ServiceUri" serializeAs="String">
				<value>LinqSample</value>
			</setting>
			<setting name="TcpPort" serializeAs="String">
				<value>5010</value>
			</setting>
		</Zyan.Examples.Linq.Server.Properties.Settings>
	</applicationSettings>
</configuration>
