*.bak
*.cache
*.log
*.orig
*.user
*.nupkg
.temp
tests.bat
bin
obj
obj.Android
obj.fx3
obj.fx4
obj.fx45
/source/Zyan.Key/*.snk
/source/Zyan.Communication/Zyan.Communication.xml
/source/.vs/Zyan/v14/.suo
/examples/Zyan.Examples.CallInterceptor/.vs/Zyan.Examples.CallInterceptor/v14/.suo
/source/.vs
/source/TestResults
/source/cov-int
/source/packages
