<configuration>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="DemonstrationObjects.Demo, DemonstrationObjects" url="udp://localhost:1234/UdpChannelURI" />
			</client>
			<channels>
				<channel type="Zyan.Communication.Protocols.Udp.UdpChannel, UdpChannel" />
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
</configuration>
