<configuration>
	<system.runtime.remoting>
		<application name="TestClient">
			<client url="udp://localhost:1234" >
				<activated type="DemonstrationObjects.Demo, DemonstrationObjects" />
			</client>
			<channels>
				<channel type="Zyan.Communication.Protocols.Udp.UdpChannel, UdpChannel" />
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
</configuration>