<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zyan.Examples.WhisperChat.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Zyan.Examples.WhisperChat.Client.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>tcpex://localhost:8081/WhisperChat</value>
            </setting>
        </Zyan.Examples.WhisperChat.Client.Properties.Settings>
    </applicationSettings>
</configuration>