<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net35" version="1.0.3" targetFramework="net35-client" developmentDependency="true" />
  <package id="srp" version="1.0.6" targetFramework="net35" />
  <package id="Zyan.SafeDeserializationHelpers" version="0.5.1" targetFramework="net35" />
</packages>