<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <connectionStrings>
    <add name="InterLinq.UnitTests.Properties.Settings.LinqTestsConnectionString" connectionString="Data Source=.;Initial Catalog=LinqTests;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="CompanyEntities" connectionString="metadata=res://*/EntityFramework4.Company.csdl|res://*/EntityFramework4.Company.ssdl|res://*/EntityFramework4.Company.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;AttachDbFilename=|DataDirectory|\EntityFramework4\Company.mdf;Initial Catalog=Company;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.isolation">RepeatableRead</property>
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">Database=LinqTests;Data Source=localhost;User Id=root;Password=</property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="hbm2ddl.keywords">none</property>
    </session-factory>
  </hibernate-configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
