<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" type="DemonstrationObjects.Demo, DemonstrationObjects" objectUri="UdpChannelURI" />
			</service>
			<channels>
				<channel type="Zyan.Communication.Protocols.Udp.UdpChannel, UdpChannel" port="1234"/>
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
</configuration>
