<configuration>
	<system.runtime.remoting>
		<application name="TestServer">
			<service>
				<activated type="DemonstrationObjects.Demo, DemonstrationObjects"/>
			</service>
			<channels>
				<channel type="Zyan.Communication.Protocols.Udp.UdpChannel, UdpChannel" port="1234"/>
			</channels>
		</application>
		<customErrors mode="off"/>
	</system.runtime.remoting>
</configuration>
